<!DOCTYPE html>
<html>
<head>
   



    <meta http-equiv="Content-Language" content="es-ES">
    <meta name="Author" content="Bahía Code" />
    <meta name="Description" content="Desarrollo web, e-commerce y Business Intelligence.  Webs eventos deportivos y compra colectiva." />
    <meta name="Subject" content="Desarrollo web, e-commerce y Business Intelligence.  Webs eventos deportivos y compra colectiva." />
    <meta name="Keywords" content="programacion web, web tipo Groupalia, web estilo Lets Bonus, clon Groupon Offerum, web cupones, compra colectiva, ASP.Net" />
    <meta name="Generator" content="BahiaCode">
    <meta name="Language" content="Spanish">
    <meta name="Revisit" content="1 day">
    <meta name="Expires" content="never">
    <meta name="Distribution" content="Global">
    <meta name="Copyright" content="Bahía Code" />
    <meta name="Designer" content="Bahía Code" />
    <meta name="Publisher" content="Bahía Code" />
    <meta name="City" content="Barcelona" />
    <meta name="Country" content="Spain" />
    <meta name="Robots" content="All">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <title>@(ViewBag.Title ?? "Bahía Code")</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bahía Code", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Index", "Contacto")</li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bahía Code S.L</p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
