<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Language" content="es-ES">
    <meta name="Author" content="Bahía Code" />
    <meta name="Description" content="Desarrollo web, e-commerce y Business Intelligence" />
    <meta name="Keywords" content="programacion web, desarrollo web, maquetación HTML, CSS, ASP.Net" />
    <meta name="Publisher" content="Bahía Code" />
    <meta name="City" content="Barcelona" />
    <meta name="Country" content="Spain" />
    <meta name="Robots" content="All">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <title>@(ViewBag.Title ?? "Bahía Code")</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")

    <!-- Bootstrap Core CSS -->
    <link href="/content/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/content/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/content/font-awesome.css" rel="stylesheet" type="text/css">

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

</head>
<body>    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Bahía Code</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#desarrolloweb">Desarrollo web</a>
                    </li>
                    <li>
                        <a href="#tecnologia">Tecnología</a>
                    </li>
                    <li>
                        <a href="#bi">Business Intelligence</a>
                    </li>
                    <li>
                        <a href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
    
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    
   
        @RenderBody()
     
  

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
