@model Bh.Web.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Contacto";

}

@section scripts{
    @Scripts.Render("~/bundles/jquery")
}
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Envíanos un mensaje</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <form class="form-horizontal" role="form" method="post" action="Index">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder = "Nombre y apellidos"})
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = "ejemplo@dominio.com"})
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Phone, new {@class = "form-control", placeholder = ""})
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Message, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Message, new {@class = @"form-control"})
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CaptchaWeekDay, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CaptchaWeekDay, new {@class = "form-control", placeholder = ""})
                        @Html.ValidationMessageFor(model => model.CaptchaWeekDay)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input id="submit" name="submit" type="submit" value="Enviar" class="btn btn-primary">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            </form>
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Nuestros datos de contacto</h3>
    </div>
    <div class="panel-body">
        <p>
            <span>Móvil: 647 61 39 01 / 676 33 27 56</span>
        </p>
        <p>
            <span>e-Mail: <a href="mailto:info@bahiacode.com">info@bahiacode.com</a></span>
        </p>
        <p>
            Dirección: El Masnou, Barcelona
        </p>
    </div>
</div>



  
